{% extends "base.html" %}
{%import "bootstrap/wtf.html" as wtf%}

{% block body%}
<tr>
<td style="text-align: center; width: 50%; height: 50%; margin: 0px; padding: 0px;">
	<form method="POST" action="/auth/login">	
    {{form.csrf_token}}
    <table class="table-body">
    <tbody>
        <tr><td style ="padding-top: 2vh;">
        {{form.email.label(style="color: white; font-size: 16px; margin: 0px;")}}
        <br>
		{{form.email}}
        </td></tr>
        <tr><td>
        {{form.password.label(style="color: white; font-size: 16px; margin: 0px;")}}
        <br>
		{{form.password}}
        </td></tr>
        <tr><td>
		{{form.submit(class_="game-buttons")}}
        </td></tr>
    </tbody>
    </table>
	</form>
    </td>
</tr>
{% endblock %}
