{% extends 'base.html' %}
{%import "bootstrap/wtf.html" as wtf%}

{% block body%}
<tr>
    <td>
	<form action="/auth/register" method="POST">
	{{form.csrf_token}}
	<table class="table-body">
	<tbody>
		<tr><td>
		{{form.email.label(style="color: white; font-size: 16px; margin: 0px;")}}
        <br>
        {{form.email(class_="input")}}
		</td></tr>
        <tr><td>
        {{form.username.label(style="color: white; font-size: 16px; margin: 0px;")}}
        <br>
        {{form.username(class_="input")}}
        </td></tr>
        <tr><td>
        {{form.password.label(style="color: white; font-size: 16px; margin: 0px;")}}
        <br>
        {{form.password(class_="input")}}
        </td></tr>
        <tr><td>
        {{form.password2.label(style="color: white; font-size: 16px; margin: 0px;")}}
        <br>
        {{form.password2(class_="input")}}
        </td></tr>

        <tr><td>
		{{form.submit(class_="game-buttons")}}
		</td></tr>
    </tbody>
	</table>
    </form>
    <table class="footer-table">
        <tbody>
          <tr>
            <td style="float: left;"><a href="/"><button class="minor-buttons">&larr; Back</button></a></td>
			  <td></td>
          </tr>
        </tbody>
      </table>
	</td>
</tr>
{% endblock body%}
