{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}Elimination{%endblock%}
{%block head%}
	{{super()}}
	<style>
	</style>
{%endblock%}
{%block body%}
        <tr>
            <td style="text-align: center; width: 50%; margin: 0px; padding: 0px;"><form>
                <table class="table-body">
                  <tbody>
                    <tr>
                      <td style="padding-top: 0vh;"><h1 style="color: white; font-size: 35px; margin: 0px;">Game Accept</h1>
                        <textarea readonly style="width: 80%; height: 200px;">Rules go here</textarea></td>
                    </tr>
                  </tbody>
                </table>
              </form></td>
          </tr>
          <tr>
            <table class="table-body">
              <tbody>
                <tr>
                  <td style="text-align: center;"><br>
                    <button class="minor-buttons">Propose Poll</button></td>
                  <td style="text-align: center;"><h3 style="padding: 0px; margin-top: 10px; margin-bottom: 0px; color: white;">Player Count</h3>
                    <br>
                    <div style="background-color: white; width: 80%; height: 60px; text-align: center; margin-left: auto; margin-right: auto; padding: 0px; border-radius: 10px;">
                      <h4 style="margin: -10px; padding-top: 10px; font-size: 35px">8 / 10</h4>
                    </div></td>
                </tr>
              </tbody>
            </table>
            <div style="background-color: white; height: 5px; border-radius: 5px; margin-top: 30px;"></div>
            <table class="table-body">
              <tbody>
                <tr>
                  <td style="text-align: center;"><h4 style="color: white; font-size: 30px; margin: 0; padding-top: 10px;">Polls</h4><br><ul class="square">
                            <li>(RULE) 5 Accepted / 3 Declined</li>
              </ul>
              </td>
                </tr>
              </tbody>
            </table>
            <table class="table-body">
              <tbody>
                <tr>
                  <td style="text-align: center; padding-top: 50px;"><button class="game-buttons">Cancel Game</button></td>
                  <td style="text-align: center; padding-top: 50px;"><button class="game-buttons">Start Game</button></td>
                </tr>
              </tbody>
            </table>
          </tr>
          	
{%endblock%}