{% extends 'base.html' %}
{%import "bootstrap/wtf.html" as wtf%}

{% block head %}

{% endblock %}

{% block body%}

<!-- document.getElementById('textbox_id').value 
$('form#_customRulesForm').submit();-->

<script>
  function addRuleToDB() {
    var rule_title = document.getElementById("titleTextBox").value;
    if (rule_title) {
      var table = document.getElementById("customRulesBlock");
      var row = table.insertRow(0);
      
      row.innerHTML =
        '<button type=\"button\" data-toggle=\"modal\" data-target=\"#rulesModal\" class=\"list-group-item\">\
        <li class=\"mb-1\">' + rule_title + '</li>\
      </button>';
    }
  }

  function showDefault() {
    var x = document.getElementById("defaultRulesBlock");
    if (x.style.display == "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

<tr>
  <td>
    <div class="trape-header">
      <h1 style="margin-top: -20%; font-size: 20px; color: #323C4A;">Create Game</h1>
    </div>
    <table class="table-body">
      <tbody>
        <tr>
          <td>
            <form action="" method="POST" role="form" style="padding-top: 15px;">
              {{ form.hidden_tag() }}
              {{ form.name(class_="input") }}<br>
              {{ form.countdownLength(class_="input")}}<br>
              <span
                style="background: #323C4A; border-radius: 10px; height: auto; display: inline-block; width: 50%;"><input
                  class="checkboox" type="checkbox" onclick="showDefault()">
                <p style="padding-top: 5px; padding-bottom: 5px; margin-bottom: 0px; color: white;">Load Default Rules
                </p>
              </span>
              <h3 style="text-align: left; margin: auto; padding-top: 25px;">Default Rules</h3>
              <div class="divider"></div>
              {% macro _rules(rules) %}
              <div style="display:none;" id="defaultRulesBlock">
                <div class="list-group">

                  {% for rule in rules %}

                  <button type="button" data-toggle="modal" data-target="#rulesModal-{{rule.id}}"
                    class="list-group-item">
                    <li class="mb-1">{{ rule.title }}</li>
                  </button>

                  {{ caller(rule) }}

                  {% endfor %}


                </div>
              </div>
              {% endmacro %}
              <!-- Modal content-->
              {% call(rule) _rules(default_rules) %}
              <div class="modal fade" id="rulesModal-{{rule.id}}" role="dialog">
                <div class="modal-dialog">

                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">{{rule.title}}</h4>
                    </div>
                    <div class="modal-body">
                      <p>

                        {{rule.body}}

                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endcall %}
              <!-- End of Modal content-->

              <table class="table-body" id="customRulesBlock">
                <!-- This is where our dynamically added custom rules go!! -->
              </table>

              <h3 style="text-align: left; margin: auto; padding-top: 25px;">Create Rule
              </h3>
              <div class="divider"></div>
              <table>
                <tbody>
                  <tr>
                    <td>
                      {{ form.ruleTitle(class_="input-new-rule", id="titleTextBox") }}
                      <br><br>
                      {{ form.ruleBody(class_="rule-textbox", id="bodyTextBox") }}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <a><button type="button" class="minor-buttons" onclick="addRuleToDB()"
                          style="float: right; margin:auto;">Add Rule</button></a></td>
                  </tr>
                </tbody>
              </table>
              <button type="submit" class="game-buttons">Continue</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <table>
      <tbody>
        <tr>
          <td style="float: left;"><a href="/start">
              <button class="minor-buttons">&larr; Back</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
{% endblock body %}