{%extends 'base.html'%}
{%block body%}
<tr>
	<td style="padding-top:20%;"><a href="/createGame"><button class="game-buttons">Create Game</button></a></td>
</tr>
{% if game == None %}
<tr>
	<td><a href="/joinGame"><button class="game-buttons">Join Game</button></a></td>
</tr>
{% else %}
<tr>
	<td><a href="/leaveGame"><button class="game-buttons">Leave Game</button></a></td>
</tr>
{% endif %}
<tr>
	<td style="padding-bottom: 20%;"><a href="/auth/logout"><button class="game-buttons">Log Out</button></a></td>
</tr>

{% endblock body%} 

