{%extends 'base.html'%}
{%block body%}
<tr>
	<td style="text-align: center; width: 70%; margin: 0px; padding-top:18vh;"><button class="game-buttons"><a href="/createGame" style="display:block;">Create Game</a></button></td>
</tr>
<tr>
	<td style="text-align: center; width: 70%; margin: 0px; padding-top: 30px;"><button class="game-buttons"><a href="/joinGame" style="display:block;">Join Game</a></button></td>
</tr>

<tr>
	<td style="text-align: center; width: 70%; margin: 0px; padding-top: 30px;">
		<button class="game-buttons">
			<a href="{{ url_for('rules.create') }}" style="display:block;">Create Rule</a>
		</button>
	</td>
</tr>
{% endblock body%} 

