{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}
{%block title%}Elimination{%endblock%}
{%block head%}
	{{super()}}
{%endblock%}
{%block body%}
<tr><td>
	<table class="table-body" style="padding-top:10%;"><tbody><tr><td>
	<h1>Join Game</h1>
{{wtf.quick_form(form)}}
	</td></tr>
</tbody>
</table>
<table class="table-body">
	<tbody>
	  <tr>
		<td style="float: left; padding-top:20%;"><a href="/start"><button class="minor-buttons">&larr; Back</button></a></td>
		  <td></td>
	  </tr>
	</tbody>
  </table>
	</td></tr>
{%endblock%}
